

conda==22.11.1
conda-build==3.23.3
conda-content-trust==0.1.3
conda-pack==0.6.0
conda-package-handling==2.0.2
conda_package_streaming==0.7.0
conda-repo-cli==1.0.4
conda-token==0.4.0
conda-verify==3.4.2


GitPython==3.1.30

jupyter==1.0.0
jupyter_client==7.4.8
jupyter-console==6.4.4
jupyter_core==5.1.1
jupyter-server==1.13.5
jupyterlab==3.3.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0

Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.0.1
matplotlib==3.5.2
matplotlib-inline==0.1.6

missingno==0.5.1


notebook==6.4.12
numba==0.56.4
numexpr==2.8.4
numpy==1.21.5
numpydoc==1.5.0

pandas==1.4.4
pandocfilters==1.5.0

path==16.2.0
pathlib==1.0.1
pathspec==0.9.0
patsy==0.5.2
pep8==1.7.1

pip==22.3.1

plotly==5.9.0



pytest==7.1.2

requests==2.28.1
requests-file==1.5.1

scikit-image==0.19.3
scikit-learn==1.0.2
scikit-learn-intelex==2021.20221004.121545
scipy==1.7.3
Scrapy==2.6.2
seaborn==0.12.2

setuptools==65.6.3

statsmodels==0.13.2
streamlit==1.17.0
sympy==1.11.1
tables==3.7.0
tabulate==0.8.10
TBB==0.2


